.tip-btn-wrapper ul {
  list-style: none;
}

.tip-btn-wrapper .title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.tip-btn-wrapper .fz-12 {
  font-size: 12px;
}

.tip-btn-wrapper .f-b {
  font-weight: bold;
}

.tip-btn-wrapper .c-warn {
  color: #faad14;
}

.tip-btn-wrapper .c-danger {
  color: #d26363;
}

.tip-btn-wrapper .mr-5 {
  margin-right: 5px;
}